<%- include('header') %>

<form action="/resultadoBusca" method="post">
    Marca: <input type="text" name="marca"><br>
    Nome do Carro: <input type="text" name="nomeCarro"><br>
    Ano de Fabricação: <input type="text" name="anoFabric"><br>
    <input type="submit" value="enviar">
</form>

<%- include('rodape') %>