<%- include('header') %>
<p>Cadastre aqui os carros: <a href="/cadastrarCarro">Cadastrar</a></p>
<p>Busque os carros no nosso banco de dados: <a href="/buscaCarros">Buscar</a></p>
<%- include('rodape') %>