<%- include('../header&footer/header') %>

Carro inserido no nosso banco de dados com sucesso!
<p>Gostaria de inserir outro? Clique <a href="/cadastrarCarro">aqui</a></p>
<p>Caso não, você pode voltar para a tela principal <a href="/telaPrincipal">aqui</a></p>

<%- include('../header&footer/rodape') %>