<%- include('../header&footer/header') %>

<p>Os dados foram atualizados com sucesso!</p>
<p>Gostaria de fazer outra consulta? <a href="/buscarUsers">clique aqui</a></p>
<p>Caso não queira, vá para a tela principal clicando <a href="/telaPrincipal">aqui</a></p>

<%- include('../header&footer/rodape') %>